/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 196; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
    

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
    --first-color-second: hsl(var(--hue-color), 30%, 61%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

.dark-theme .services__title{
  color: black;
}




/*========== Button Dark/Light ==========*/
.nav__btns{
  display: flex;
  align-items: center;
}

.change-theme{
  font-size: 1.25rem;
  color:var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}

.change-theme:hover{
  color: var(--first-color);
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
  
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/
.nav{
  max-width: 986px;
  height:var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__toggle{
  color:var(--title-color);
  font-weight: var(--font-medium);
  font-size: 1.1rem;
  padding: 8px 16px;
  cursor: pointer;
}

.nav__toggle:hover{
  color:var(--first-color)
}

@media  screen and (max-width:767px) {
  .nav__menu{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
  }
}
.nav__list{
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link{
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav__link:hover{
  color:var(--first-color)
}

.nav__icon{
  font-size: 1.2rem;
}

.nav__close{
  position: absolute;
  right: 1.3rem;
  bottom:.5rem;
  font-size: 1.5rem;
  cursor:pointer;
  color:var(--first-color)
}

.nav__close:hover{
  color: var(--first-color-alt)
}


/* show menu */
.show-menu{
  bottom: 0;
}

/* Active link */

.active-link{
  color:var(--first-color)
}


/* Change background header */
.scroll-header{
  box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}

/*==================== HOME ====================*/

.home__container{
  gap:1rem
}

.img__marca{
  width: 60px;
}

.home__content{
  grid-template-columns: .5fr 3fr;
  padding-top:3.5rem;
  align-items: center;
}

.home__social{
 display: grid;
 grid-template-columns: max-content;
 row-gap: 1rem;
}

.home__social-icon{
  font-size: 1.25rem;
  color:var(--first-color);
}

.home__social-icon:hover{
  color:var(--first-color-alt)
}

.home__blob{
    width: 350px;
    border-radius: 0.5rem;
    justify-self: center;
    align-items: center;
}

.home__data{
  grid-column: 1/3;
}

.home__title{
  font-size: var(--big-font-size);
}

.home__subtitle{
  font-size: var(--h3-font-size);
  color:var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home__description{
  margin-bottom: var(--mb-2);
}


.home__scroll-button{
  color:var(--first-color);
  transition: .3s;
}

/* .home__scroll-button:hover{
  transform: translateY(.25rem);
} */

.home__scroll-mouse{
  font-size: 2rem;
}

.home__scroll-name{
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow{
  font-size: 1.25rem;
}

/*==================== BUTTONS ====================*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button__icon{
  font-size:1.25rem;
  margin-left: var(--mb-0-5);
  transition: .3s;
}

.button--flex{
  display: inline-flex;
  align-items: center;
}

.button--small{
  padding: .75rem 1rem;
}

.button--link{
  padding:0;
  background-color: transparent;
  color: var(--first-color);
}

.button--link:hover{
  background-color: transparent;
  color: var(--first-color-alt);
}
/*==================== ABOUT ====================*/
.about__img{
  width: 200px;
  border-radius: .5rem;
  justify-self: center;
  align-items: center;
}

.about__description{
  text-align: center;
  margin-bottom:var(--mb-2-5)
}

.about__info{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

.about__info-title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color:var(--title-color)
}

.about__info-name{
  font-size: var(--smaller-font-size);
}


.about__info-title,
.about__info-name{
  display: block;
  text-align: center;
}

.about__buttons{
  display: flex;
  justify-content: center;
}

/*==================== SKILLS ====================*/
.skills__container{
  row-gap:0
}

.skills__header{
  display: flex;
  align-items: center;
  margin-bottom:var(--mb-2-5);
  cursor: pointer;
}

.skills__icon,
.skills__arrow{
  font-size: 2rem;
  color: var(--first-color);
}

.skills__icon{
  margin-right: var(--mb-0-75);
}

.skills__title{
  font-size: var(--h3-font-size);
}

.skills__subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.skills__arrow{
  margin-left: auto;
  transition: .4s;
}

.skills_titles{
  display:flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.skills__name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage{
  height: 5px;
  border-radius:.25rem;
}

.skills__bar{
  background-color: var(--first-color-lighter);
}

.skills__percentage{
  display:block;
  background-color: var(--first-color);
}


.skills__html{
  width: 90%;
}

.skills__css{
  width: 75%;
}

.skills__js{
  width: 60%;
}

.skills__react{
  width: 55%;
}

.skills__figma{
  width: 85%;
}

.skills__photoshop{
  width: 75%;
}

.skills__ui{
  width: 60%;
}

.skills__close .skills__list{
  height: 0;
  overflow:hidden;
}

.skills__open .skills__list{
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow{
  transform:rotate(-180deg)
}
/*==================== QUALIFICATION ====================*/
.qualification__tabs{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}

.qualification__button{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor:pointer;
}

.qualification__button:hover{
  color:var(--first-color)
}

.qualification__icon{
  font-size:1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification__data{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification__subtitle{
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.qualification__calendar{
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.qualification__rounder{
  display:inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;

}

.qualification__line{
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

.qualification [data-content]{
  display:none
}

.qualification__active[data-content]{
  display: block;
}

.qualification__button.qualification__active{
  color: var(--first-color);
}

/*==================== SERVICES ====================*/
.services__container{
  gap:1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.services__content{
  position: relative;
  background-color:var(--container-color) ;
  padding:3.5rem .5rem 1.25rem 1.5rem;
  border-radius:.25rem;
  box-shadow:0 2px 4px rgba(0, 0, 0, .15);
  transition: .3s;
}

.services__content:hover{
  box-shadow:0 4px 8px rgba(0, 0, 0, .15)
}

.services__icon{
  display: block;
  font-size: 1.5rem;
  color:var(--first-color);
  margin-bottom: var(--mb-1);
}

.services__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}

.services__button{
  cursor:pointer;
  font-size: var(--small-font-size);
}

.services__button:hover .button__icon{
  transform:translateX(.25rem)
}

.services__modal{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.services__modal-content{
  position: relative;
  background-color: var(--container-color);
  padding:1.5rem;
  border-radius: .5rem;
}

.services__modal-services{
  row-gap: 1rem;
}

.services__modal-service{
  display: flex;
}

.services__modal-title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}

.services__modal-close{
  position:absolute;
  top:1rem;
  right:1rem;
  font-size:1.5rem;
  color:var(--first-color);
  cursor: pointer;
}

.services__modal-icon{
  color: var(--first-color);
  margin-right:var(--mb-0-25);
}

/* Active Modal */
.active-modal{
  opacity: 1;
  visibility: visible;
}

/*==================== PORTFOLIO ====================*/
.portifolio__container{
  overflow: initial;
}

.portifolio__content{
  padding:0 1.5rem
}

.portifolio__img{
  width: 265px;
  border-radius: .5rem;
  justify-self: center;
}

.portifolio__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.portifolio__description{
  margin-bottom: var(--mb-0-75);
}

.portifolio__button:hover .button__icon{
  transform: translateX(.25rem);
}

.swiper-button-prev::after,
.swiper-button-next::after{
  content:'';
}

.swiper-portifolio-icon{
  font-size: 2rem;
  color: var(--first-color);
}

.swiper-button-prev{
  left: -.5rem
}

.swiper-button-next{
  right: -.5rem
}

.swiper-container-horizontal > .swiper-pagination-bullets{
  bottom:-2.5rem
}

.swiper-pagination-bullet-active{
  background-color: var(--first-color);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullets{
  outline: none;
}
          
/*==================== PROJECT IN MIND ====================*/


/*==================== TESTIMONIAL ====================*/


/*==================== CONTACT ME ====================*/
.contact__container{
  row-gap:3rem;
}


.contact__information{
  display: flex;
  margin-bottom: var(--mb-2);
  align-items: flex-end;
}

.contact__icon{
  font-size: 2rem;
  color:var(--first-color);
  margin-right:var(--mb-0-75);
}

.contact__title{
font-size: var(--h3-font-size);
font-weight: var(--font-medium);
}

.contact__subtitle{
  font-size: var(--small-font-size);
  color:var(--text-color-light);
}

.contact__content{
  background-color: var(--input-color);
  border-radius: .5rem;
  padding: .75rem 1rem .25rem;
}

.contact__label{
  font-size: var(--small-font-size);
  color:var(--title-color);
}

.contact__input{
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size:var(--normal-font-size);
  border: none;
  outline: none;
  padding:.25rem .5rem .5rem 0;
}

/*==================== FOOTER ====================*/

.footer{
  padding-top:2rem;
}

.footer__container{
  row-gap:3.5rem;
}

.footer__bg{
  background-color: var(--first-color);
  padding:2rem 0 3rem;
}

.footer__title{
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.fooot__subtitle{
  font-size: var(--small-font-size);
}

.footer__links{
  display:flex;
  flex-direction:column;
  row-gap: 1.5rem;
}

.footer__link:hover{
  color: var(--first-color-lighter);
}

.footer__social{
  font-size:1.25rem;
  margin-right:var(--mb-1-5)
}

.footer__social:hover{
  color:var(--first-color-lighter);
}

.footer__copy{
  font-size:var(--smaller-font-size);
  text-align: center;
  color:var(--text-color-light);
  margin-top: var(--mb-3);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social{
  color: #fff;
}

/*========== SCROLL UP ==========*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom:-20%;
  background-color: var(--first-color);
  opacity: .8;
  padding: 0 .3rem;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .7s;
}

.scrollup:hover{
  background-color: var(--first-color-alt);
}

.scrollup__icon{
  font-size: 1.5rem;
  color: #fff;
}

/* Show scroll */
.show-scroll{
  bottom:5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
  width: .60rem;
  background-color: var(--scroll-bar-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width:350px) {


  .container{
    margin-left: var(--mb-2);
    margin-right: var(--mb-1);
  }

 .home__blob{
  width:180px;
 }

 #hero-animation{
  width: 180px;
}

 .nav__menu{
  padding: 2rem .25rem 4rem;
 }

 .nav__list{
  column-gap:0;
 }

 .home__content{
  grid-template-columns: .25 3fr;
  padding-top: -.5rem;
 }

 .skills__title{
  font-size:var(--normal-font-size);
 }

 .qualification__data{
  gap: .5rem;
 }

 .services__container{
  grid-template-columns: max-content;
  justify-content: center;
 }

 .services__content{
  padding-right: 3.5rem;
 }

 .services__modal{
  padding: 0 .5rem;
 }

 .grid_flex{
  display: grid;
  justify-content: end !important;
}

.button--small {
  padding: 0.80rem 0.2rem;
}
.button--flex {
  display: inline-flex;
  align-items: center;
}
}

/* For medium devices */

@media screen and (min-width:568px){

  .home__content{
    margin-top:0px;
  }

  .home__content{
    grid-template-columns: max-content 1fr 1fr ;
  }

  .home__content{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home_img{
    order:2;
  }

  .home__blob{
    width:250px;
   }

   #hero-animation{
    width: 250px;
  }

  .home__data{
    order: 1;
    grid-column: initial;
  }
  .home__img{
   
    justify-self: center;
  }

  .about__container,
  .skills__container,
  .portifolio__content,
  .project__container,
  .contact__container,
  .footer__container{
    grid-template-columns: repeat(2, 1fr);
  }


  .qualification__sections{
    display: grid;
    grid-template-columns: .6fr;
    justify-content: center;
  }

}


@media screen and  (min-width:786px) {

  .home__content{
    margin-top:0;
  }

  .container{
    margin-left: auto;
    margin-right: auto;
  }
  body{
    margin:0;
  }

  .home__content{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home_img{
    order:2;
  }

  .section{
    padding: 6rem 0 2rem ;
  }

  .section__subtitle{
    margin-bottom: 4rem;
  }

  .header{
    top: 0;
    bottom:initial;
  }
  
  .header,
  .main,
  .footer__container{
    padding: 0 1rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle{
    display: none;
  }
  .nav__list{
    display: flex;
    column-gap: 2rem;
  }

  .nav__menu{
    margin-left: auto;
  }
  
  .change-theme{
    margin: 0;
  }

  .home__container{
    row-gap: 5rem;
  }

  .home__content{
    padding-top: 11.5rem;
    column-gap: 2rem;
  }

  .home__blob{
    width: 270px;
  }

  .home__scroll{
    display:block;
  }
  .home__scroll-button{
    margin-left: 3rem;
  }

  .about__container{
    column-gap: 5rem;
  }

  .about__img{
    width: 350px;
  }

  .about__description{
    text-align: initial;
  }

  .about__info{
    justify-content: space-between;
  }
  
  .about__buttons{
    justify-content: initial;
  }

  .qualification__tabs{
    justify-content: center;
  }
  
  .qualification__button{
    margin: 0 var(--mb-1);
  }

  .qualification__sections{
    grid-template-columns: .5fr;
  }

  .services__container{
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }

  .services__icon{
    font-size: 2rem;
  }

  .services__content{
    padding: 6rem 0 2rem 2.5rem;
  }

  .services__modal-content{
    width: 450px;
  }

  .portifolio__img{
    width: 320px;
  }

  #hero-animation{
    width: 320px;
  }

  .portifolio__content{
    align-items: center;
  }

  .footer__container{
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__bg{
    padding: 3rem 0 3.5rem;
  }

  .footer__links{
    flex-direction: row;
    column-gap: 2rem;
  }

  .footer__socials{
    justify-self: flex-end;
  }

  .footer__copy{
    margin-top: 4.5rem;
  }

  .contact__container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact__content_display{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
  }

}

/* For large devices */

@media screen and (min-width:1024px) {

    .header,
    .main,
    .footer__container{
      padding: 0;
    }
    
    .home__blob{
      widows: 320px;
    }

    .home__social{
      transform: translateX(-6rem);
    }

    .services__container{
      grid-template-columns: repeat(3, 238px);
    }

    .portifolio__content{
      column-gap: .5rem;
    }
    .swiper-portifolio-icon{
      font-size: 3.5rem;
    }

    .swiper-button-prev{
      left: -3.5rem;
    }

    .swiper-button-next{
      right: -3.5rem;
    }

    .swiper-container-horizontal > .swiper-pagination-bullets{
      bottom: -4.5rem;
    }
    .contact__form{
      width: 460px;
    }

    .contact__iputs{
      grid-template-columns: repeat(2, 1fr);
    }

    .home__content{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;
    }
    
    .home__blob{
      width:417px !important;
      transform:translateX(45px)
    }
    
    .home_img{
      order:2;
    }

  .contact__container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact__content_display{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
  }

  #hero-animation{
    width: 410px;
  }

    
}


/* -------------------- Animation ---------------- */

/* .circle__icon-svg{
  opacity: 1;
  animation: float 6s ease-in-out infinite;
} */

.cloud1__icon-svg{
  
  animation: float 6s ease-in-out infinite;
}

.cloud2__icon-svg{
  animation: float 9s ease-in-out infinite;
}


@keyframes float {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(-50px);
	}
	100% {
		transform: translateX(0px);
	}
}

.innerFire__icon-svg{
  -webkit-animation: innerFlame 1.5s infinite linear;
  -moz-animation: innerFlame 1.5s infinite linear;
  animation: innerFlame 1.5s infinite linear;
}


.fireout__icon-svg{
  -webkit-animation: outerFlame 1s infinite linear;
  -moz-animation:outerFlame 1s infinite linear;
  -ms-animation: outerFlame 1s infinite linear;
  animation: outerFlame 1s infinite linear;
}

@keyframes outerFlame {
  0% { fill: red}
  33% { fill: orange  }
  66% {fill: yellow }
  75% { fill: orange}
  100% {fill: red  }
}
@-moz-keyframes outerFlame {
  0% { fill: red}
  33% { fill: orange  }
  66% {fill: yellow }
  75% { fill: orange}
  100% {fill: red  }
}
@keyframes outerFlame {
  0% { fill: red}
  33% { fill: orange  }
  66% {fill: yellow }
  75% { fill: orange}
  100% {fill: red  }
}

@-webkit-keyframes innerFlame {
  0% { fill: orange}
  33% { fill: yellow  }
  66% {fill: orange }  
  100% {fill: red  }
}

@-moz-keyframes innerFlame {
  0% { fill: orange}
  33% { fill: yellow  }
  66% {fill: orange }  
  100% {fill: red  }
}

@keyframes innerFlame {
  0% { fill: orange}
  33% { fill: yellow  }
  66% {fill: orange }  
  100% {fill: red  }
}


.starlight__icon-svg{
  r:3px;
  -webkit-animation: starLight  2s infinite linear;
}


@keyframes starLight {
  0% { fill: powderblue}
  33% { fill: #b0e5cc  }
  66% {fill: #dae5b0}
  75% { fill: #e5ddb0}
  100% {fill: #d3bd3d }
}

.guy__icon-svg{
  animation: floating-guy 2s ease-in-out infinite
}

@keyframes floating-guy {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(25px);
	}
	100% {
		transform: translatey(0px);
	}
}

.moonwalk__icon-svg{
  animation: floating-moon  20s ease-in-out infinite, rotate-moon 20s ease-in-out infinite
 
}




@keyframes rotate-moon {
  0% {
    transform: rotate(0);
  }
  
  20%{
    transform: rotate(-10deg);
  }
  
  50% {
    transform: rotate(-20deg);
  }
  
  
  80%{
    transform: rotate(-10deg);
  }
  
  100% {
    transform: rotate(0deg);
  }
}

.home__scroll-arrow{
  animation: floating-arrow 1s ease-in-out infinite
}

@keyframes floating-arrow {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(2px);
	}
	100% {
		transform: translatey(0px);
	}
}

.cloud1__icon-svg{
  
  animation: float2  6s ease-in-out infinite;
}

.cloud2__icon-svg{
  animation: float 9s ease-in-out infinite;
}


@keyframes float {
	0%{
    transform: translateX(150px);
  }

  100%{
    transform: translateX(-800px);
  }
	
}

@keyframes float2 {
	0%{
    transform: translateX(40px);
  }

  100%{
    transform: translateX(-800px);
  }
	
}

/* ===============================TESTE SVG CSS========================================= */
/* Hero Section SVG Styling */
.zrpfIRpo_0 {
  stroke-dasharray: 901 903;
  stroke-dashoffset: 902;
  animation: zrpfIRpo_draw 3000ms ease-out 0ms infinite;
}
.zrpfIRpo_1 {
  stroke-dasharray: 736 738;
  stroke-dashoffset: 737;
  animation: zrpfIRpo_draw 3000ms ease-out 12ms infinite;
}
.zrpfIRpo_2 {
  stroke-dasharray: 150 152;
  stroke-dashoffset: 151;
  animation: zrpfIRpo_draw 3000ms ease-out 24ms infinite;
}
.zrpfIRpo_3 {
  stroke-dasharray: 164 166;
  stroke-dashoffset: 165;
  animation: zrpfIRpo_draw 3000ms ease-out 36ms infinite;
}
.zrpfIRpo_4 {
  stroke-dasharray: 31 20;
  stroke-dashoffset: 32;
  animation: zrpfIRpo_draw 3000ms ease-out 48ms infinite;
}
.zrpfIRpo_5 {
  stroke-dasharray: 295 297;
  stroke-dashoffset: 296;
  animation: zrpfIRpo_draw 3000ms ease-out 60ms infinite;
}
.zrpfIRpo_6 {
  stroke-dasharray: 253 255;
  stroke-dashoffset: 254;
  animation: zrpfIRpo_draw 3000ms ease-out 73ms infinite;
}
.zrpfIRpo_7 {
  stroke-dasharray: 52 54;
  stroke-dashoffset: 53;
  animation: zrpfIRpo_draw 3000ms ease-out 85ms infinite;
}
.zrpfIRpo_8 {
  stroke-dasharray: 21 23;
  stroke-dashoffset: 22;
  animation: zrpfIRpo_draw 3000ms ease-out 97ms infinite;
}
.zrpfIRpo_9 {
  stroke-dasharray: 25 27;
  stroke-dashoffset: 26;
  animation: zrpfIRpo_draw 3000ms ease-out 109ms infinite;
}
.zrpfIRpo_10 {
  stroke-dasharray: 39 41;
  stroke-dashoffset: 40;
  animation: zrpfIRpo_draw 3000ms ease-out 121ms infinite;
}
.zrpfIRpo_11 {
  stroke-dasharray: 29 31;
  stroke-dashoffset: 30;
  animation: zrpfIRpo_draw 3000ms ease-out 134ms infinite;
}
.zrpfIRpo_12 {
  stroke-dasharray: 19 21;
  stroke-dashoffset: 20;
  animation: zrpfIRpo_draw 3000ms ease-out 146ms infinite;
}
.zrpfIRpo_13 {
  stroke-dasharray: 252 254;
  stroke-dashoffset: 253;
  animation: zrpfIRpo_draw 3000ms ease-out 158ms infinite;
}
.zrpfIRpo_14 {
  stroke-dasharray: 634 636;
  stroke-dashoffset: 635;
  animation: zrpfIRpo_draw 3000ms ease-out 170ms infinite;
}
.zrpfIRpo_15 {
  stroke-dasharray: 456 458;
  stroke-dashoffset: 457;
  animation: zrpfIRpo_draw 3000ms ease-out 182ms infinite;
}
.zrpfIRpo_16 {
  stroke-dasharray: 63 65;
  stroke-dashoffset: 64;
  animation: zrpfIRpo_draw 3000ms ease-out 195ms infinite;
}
.zrpfIRpo_17 {
  stroke-dasharray: 558 560;
  stroke-dashoffset: 559;
  animation: zrpfIRpo_draw 3000ms ease-out 207ms infinite;
}
.zrpfIRpo_18 {
  stroke-dasharray: 9 11;
  stroke-dashoffset: 10;
  animation: zrpfIRpo_draw 3000ms ease-out 219ms infinite;
}
.zrpfIRpo_19 {
  stroke-dasharray: 480 482;
  stroke-dashoffset: 481;
  animation: zrpfIRpo_draw 3000ms ease-out 231ms infinite;
}
.zrpfIRpo_20 {
  stroke-dasharray: 265 267;
  stroke-dashoffset: 266;
  animation: zrpfIRpo_draw 3000ms ease-out 243ms infinite;
}
.zrpfIRpo_21 {
  stroke-dasharray: 15 17;
  stroke-dashoffset: 16;
  animation: zrpfIRpo_draw 3000ms ease-out 256ms infinite;
}
.zrpfIRpo_22 {
  stroke-dasharray: 15 17;
  stroke-dashoffset: 16;
  animation: zrpfIRpo_draw 3000ms ease-out 268ms infinite;
}
.zrpfIRpo_23 {
  stroke-dasharray: 15 17;
  stroke-dashoffset: 16;
  animation: zrpfIRpo_draw 3000ms ease-out 280ms infinite;
}
.zrpfIRpo_24 {
  stroke-dasharray: 12 14;
  stroke-dashoffset: 13;
  animation: zrpfIRpo_draw 3000ms ease-out 292ms infinite;
}
.zrpfIRpo_25 {
  stroke-dasharray: 12 14;
  stroke-dashoffset: 13;
  animation: zrpfIRpo_draw 3000ms ease-out 304ms infinite;
}
.zrpfIRpo_26 {
  stroke-dasharray: 21 23;
  stroke-dashoffset: 22;
  animation: zrpfIRpo_draw 3000ms ease-out 317ms infinite;
}
.zrpfIRpo_27 {
  stroke-dasharray: 21 23;
  stroke-dashoffset: 22;
  animation: zrpfIRpo_draw 3000ms ease-out 329ms infinite;
}
.zrpfIRpo_28 {
  stroke-dasharray: 33 35;
  stroke-dashoffset: 34;
  animation: zrpfIRpo_draw 3000ms ease-out 341ms infinite;
}
.zrpfIRpo_29 {
  stroke-dasharray: 46 48;
  stroke-dashoffset: 47;
  animation: zrpfIRpo_draw 3000ms ease-out 353ms infinite;
}
.zrpfIRpo_30 {
  stroke-dasharray: 12 14;
  stroke-dashoffset: 13;
  animation: zrpfIRpo_draw 3000ms ease-out 365ms infinite;
}
.zrpfIRpo_31 {
  stroke-dasharray: 12 14;
  stroke-dashoffset: 13;
  animation: zrpfIRpo_draw 3000ms ease-out 378ms infinite;
}
.zrpfIRpo_32 {
  stroke-dasharray: 12 14;
  stroke-dashoffset: 13;
  animation: zrpfIRpo_draw 3000ms ease-out 390ms infinite;
}
.zrpfIRpo_33 {
  stroke-dasharray: 12 14;
  stroke-dashoffset: 13;
  animation: zrpfIRpo_draw 3000ms ease-out 402ms infinite;
}
.zrpfIRpo_34 {
  stroke-dasharray: 12 14;
  stroke-dashoffset: 13;
  animation: zrpfIRpo_draw 3000ms ease-out 414ms infinite;
}
.zrpfIRpo_35 {
  stroke-dasharray: 12 14;
  stroke-dashoffset: 13;
  animation: zrpfIRpo_draw 3000ms ease-out 426ms infinite;
}
.zrpfIRpo_36 {
  stroke-dasharray: 39 41;
  stroke-dashoffset: 40;
  animation: zrpfIRpo_draw 3000ms ease-out 439ms infinite;
}
.zrpfIRpo_37 {
  stroke-dasharray: 65 67;
  stroke-dashoffset: 66;
  animation: zrpfIRpo_draw 3000ms ease-out 451ms infinite;
}
.zrpfIRpo_38 {
  stroke-dasharray: 29 31;
  stroke-dashoffset: 30;
  animation: zrpfIRpo_draw 3000ms ease-out 463ms infinite;
}
.zrpfIRpo_39 {
  stroke-dasharray: 29 31;
  stroke-dashoffset: 30;
  animation: zrpfIRpo_draw 3000ms ease-out 475ms infinite;
}
.zrpfIRpo_40 {
  stroke-dasharray: 29 31;
  stroke-dashoffset: 30;
  animation: zrpfIRpo_draw 3000ms ease-out 487ms infinite;
}
.zrpfIRpo_41 {
  stroke-dasharray: 19 21;
  stroke-dashoffset: 20;
  animation: zrpfIRpo_draw 3000ms ease-out 500ms infinite;
}
.zrpfIRpo_42 {
  stroke-dasharray: 55 57;
  stroke-dashoffset: 56;
  animation: zrpfIRpo_draw 3000ms ease-out 512ms infinite;
}
.zrpfIRpo_43 {
  stroke-dasharray: 39 41;
  stroke-dashoffset: 40;
  animation: zrpfIRpo_draw 3000ms ease-out 524ms infinite;
}
.zrpfIRpo_44 {
  stroke-dasharray: 55 57;
  stroke-dashoffset: 56;
  animation: zrpfIRpo_draw 3000ms ease-out 536ms infinite;
}
.zrpfIRpo_45 {
  stroke-dasharray: 71 73;
  stroke-dashoffset: 72;
  animation: zrpfIRpo_draw 3000ms ease-out 548ms infinite;
}
.zrpfIRpo_46 {
  stroke-dasharray: 39 41;
  stroke-dashoffset: 40;
  animation: zrpfIRpo_draw 3000ms ease-out 560ms infinite;
}
.zrpfIRpo_47 {
  stroke-dasharray: 39 41;
  stroke-dashoffset: 40;
  animation: zrpfIRpo_draw 3000ms ease-out 573ms infinite;
}
.zrpfIRpo_48 {
  stroke-dasharray: 24 26;
  stroke-dashoffset: 25;
  animation: zrpfIRpo_draw 3000ms ease-out 585ms infinite;
}
.zrpfIRpo_49 {
  stroke-dasharray: 71 73;
  stroke-dashoffset: 72;
  animation: zrpfIRpo_draw 3000ms ease-out 597ms infinite;
}
.zrpfIRpo_50 {
  stroke-dasharray: 34 36;
  stroke-dashoffset: 35;
  animation: zrpfIRpo_draw 3000ms ease-out 609ms infinite;
}
.zrpfIRpo_51 {
  stroke-dasharray: 497 499;
  stroke-dashoffset: 498;
  animation: zrpfIRpo_draw 3000ms ease-out 621ms infinite;
}
.zrpfIRpo_52 {
  stroke-dasharray: 310 312;
  stroke-dashoffset: 311;
  animation: zrpfIRpo_draw 3000ms ease-out 634ms infinite;
}
.zrpfIRpo_53 {
  stroke-dasharray: 15 17;
  stroke-dashoffset: 16;
  animation: zrpfIRpo_draw 3000ms ease-out 646ms infinite;
}
.zrpfIRpo_54 {
  stroke-dasharray: 15 17;
  stroke-dashoffset: 16;
  animation: zrpfIRpo_draw 3000ms ease-out 658ms infinite;
}
.zrpfIRpo_55 {
  stroke-dasharray: 15 17;
  stroke-dashoffset: 16;
  animation: zrpfIRpo_draw 3000ms ease-out 670ms infinite;
}
.zrpfIRpo_56 {
  stroke-dasharray: 164 166;
  stroke-dashoffset: 165;
  animation: zrpfIRpo_draw 3000ms ease-out 682ms infinite;
}
.zrpfIRpo_57 {
  stroke-dasharray: 25 27;
  stroke-dashoffset: 26;
  animation: zrpfIRpo_draw 3000ms ease-out 695ms infinite;
}
.zrpfIRpo_58 {
  stroke-dasharray: 25 27;
  stroke-dashoffset: 26;
  animation: zrpfIRpo_draw 3000ms ease-out 707ms infinite;
}
.zrpfIRpo_59 {
  stroke-dasharray: 25 27;
  stroke-dashoffset: 26;
  animation: zrpfIRpo_draw 3000ms ease-out 719ms infinite;
}
.zrpfIRpo_60 {
  stroke-dasharray: 25 27;
  stroke-dashoffset: 26;
  animation: zrpfIRpo_draw 3000ms ease-out 731ms infinite;
}
.zrpfIRpo_61 {
  stroke-dasharray: 20 22;
  stroke-dashoffset: 21;
  animation: zrpfIRpo_draw 3000ms ease-out 743ms infinite;
}
.zrpfIRpo_62 {
  stroke-dasharray: 20 22;
  stroke-dashoffset: 21;
  animation: zrpfIRpo_draw 3000ms ease-out 756ms infinite;
}
.zrpfIRpo_63 {
  stroke-dasharray: 20 22;
  stroke-dashoffset: 21;
  animation: zrpfIRpo_draw 3000ms ease-out 768ms infinite;
}
.zrpfIRpo_64 {
  stroke-dasharray: 20 22;
  stroke-dashoffset: 21;
  animation: zrpfIRpo_draw 3000ms ease-out 780ms infinite;
}
.zrpfIRpo_65 {
  stroke-dasharray: 61 50;
  stroke-dashoffset: 61;
  animation: zrpfIRpo_draw 3000ms ease-out 792ms infinite;
}
.zrpfIRpo_66 {
  stroke-dasharray: 60 40;
  stroke-dashoffset: 61;
  animation: zrpfIRpo_draw 3000ms ease-out 804ms infinite;
}
.zrpfIRpo_67 {
  stroke-dasharray: 60 20;
  stroke-dashoffset: 61;
  animation: zrpfIRpo_draw 3000ms ease-out 817ms infinite;
}
.zrpfIRpo_68 {
  stroke-dasharray: 99 101;
  stroke-dashoffset: 100;
  animation: zrpfIRpo_draw 3000ms ease-out 829ms infinite;
}
.zrpfIRpo_69 {
  stroke-dasharray: 58 60;
  stroke-dashoffset: 59;
  animation: zrpfIRpo_draw 3000ms ease-out 841ms infinite;
}
.zrpfIRpo_70 {
  stroke-dasharray: 33 35;
  stroke-dashoffset: 34;
  animation: zrpfIRpo_draw 2000ms ease-out 853ms infinite;
}
.zrpfIRpo_71 {
  stroke-dasharray: 188 190;
  stroke-dashoffset: 189;
  animation: zrpfIRpo_draw 3000ms ease-out 865ms infinite;
}
.zrpfIRpo_72 {
  stroke-dasharray: 56 58;
  stroke-dashoffset: 57;
  animation: zrpfIRpo_draw 2000ms ease-out 878ms infinite;
}
.zrpfIRpo_73 {
  stroke-dasharray: 12 14;
  stroke-dashoffset: 13;
  animation: zrpfIRpo_draw 2000ms ease-out 890ms infinite;
}
.zrpfIRpo_76 {
  stroke-dasharray: 223 225;
  stroke-dashoffset: 224;
  animation: zrpfIRpo_draw 2000ms ease-out 926ms infinite;
}
.zrpfIRpo_77 {
  stroke-dasharray: 162 164;
  stroke-dashoffset: 163;
  animation: zrpfIRpo_draw 2000ms ease-out 939ms infinite;
}
.zrpfIRpo_78 {
  stroke-dasharray: 112 114;
  stroke-dashoffset: 113;
  animation: zrpfIRpo_draw 3000ms ease-out 951ms infinite;
}
.zrpfIRpo_79 {
  stroke-dasharray: 112 114;
  stroke-dashoffset: 113;
  animation: zrpfIRpo_draw 3000ms ease-out 963ms infinite;
}
.zrpfIRpo_80 {
  stroke-dasharray: 72 74;
  stroke-dashoffset: 73;
  animation: zrpfIRpo_draw 3000ms ease-out 975ms infinite;
}
.zrpfIRpo_81 {
  stroke-dasharray: 72 74;
  stroke-dashoffset: 73;
  animation: zrpfIRpo_draw 3000ms ease-out 987ms infinite;
}
.zrpfIRpo_82 {
  stroke-dasharray: 74 76;
  stroke-dashoffset: 75;
  animation: zrpfIRpo_draw 3000ms ease-out 1000ms infinite;
}
@keyframes zrpfIRpo_draw {
  100% {
    stroke-dashoffset: 0;
  }
}

/* Hero Section SVG Animation */
@keyframes zrpfIRpo_fade {
  0% {
    stroke-opacity: 1;
  }
  94.44444444444444% {
    stroke-opacity: 1;
  }
  100% {
    stroke-opacity: 0;
  }
}